<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Komecixtine</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./static/style.css">  
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    </script>
  </head>
  <body>
    Komecixtine
    <div id="global">
      <button id="BtnCreate" type="button" class="btn btn-primary btn-lg btn-block">Create room</button>
      <button id="BtnJoin" type="button" class="btn btn-success btn-lg btn-block">Join room</button>
    </div>

    <div id="MdlCreate" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Create room</h4>
          </div>
          <div class="modal-body">
            <p>Choose your pseudo, the number of players and the room name</p>
            <p class="text-warning"><small>waring</small></p>
	    <input type="email" class="form-control" id="Pseudo" placeholder="Pseudo">
	    <input type="email" class="form-control" id="NbPlayer" placeholder="Number of players">
	    <input type="email" class="form-control" id="RoomName" placeholder="Room name">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Create</button>
          </div>
        </div>
      </div>
    </div>    

    <div id="MdlJoin" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Join room</h4>
          </div>
          <div class="modal-body">
            <p>Choose your pseudo and the room name</p>
            <p class="text-warning"><small>warning</small></p>
	    <input type="email" class="form-control" id="Pseudo" placeholder="Pseudo">
	    <input type="email" class="form-control" id="RoomName" placeholder="Room name">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success">Join</button>
          </div>
        </div>
      </div>
    </div>    
  </body>
  <script type="text/javascript">
    
    $('#BtnCreate').click(function(){
    $("#MdlCreate").modal('show');
    });

    $('#BtnJoin').click(function(){
    $("#MdlJoin").modal('show');
    });
  </script>
</html>
