<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Komecixtine</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/style.css">  
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    </script>
  </head>
  <body>
    <div id="title">Komecixtine</div>
    <div id="global">
      <button id="BtnCreate" type="button" class="btn btn-primary btn-lg btn-block">Create room</button>
      <button id="BtnJoin" type="button" class="btn btn-success btn-lg btn-block">Join room</button>
    </div>

    <div id="MdlCreate" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Create room</h4>
          </div>
          <div class="modal-body">
            <p>Choose your pseudo, the number of players and the room name</p>
            <p class="text-warning"><small>waring</small></p>
        <div id="FCPseudo" class="form-group">
	        <input type="email" class="form-control" id="CPseudo" placeholder="Pseudo">
	    </div>
        <div id="FCNbPlayer" class="form-group">
            <input type="email" class="form-control" id="CNbPlayer" placeholder="Number of players">
        </div>
        <div id="FCRoomName" class="form-group">
              <input type="email" class="form-control" id="CRoomName" placeholder="Room name">
        </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="Create" type="button" class="btn btn-primary disabled">Create</button>
          </div>
        </div>
      </div>
    </div>    

    <div id="MdlJoin" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Join room</h4>
          </div>
          <div class="modal-body">
            <p>Choose your pseudo and the room name</p>
            <p class="text-warning"><small>warning</small></p>
              <div id="FJPseudo" class="form-group">
                  <input type="email" class="form-control" id="JPseudo" placeholder="Pseudo">
              </div>
              <div id="FJRoomName" class="form-group">
                  <input type="email" class="form-control" id="JRoomName" placeholder="Room name">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="Join" type="button" class="btn btn-success disabled">Join</button>
          </div>
        </div>
      </div>
    </div>    
  </body>

  <div id="WaitingModal" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title">Waiting players</h4>
              </div>
              <div class="modal-body">
                  <p>...</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <!--<button type="button" class="btn btn-primary"></button>-->
              </div>
          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script src='/socket.io/socket.io.js'></script>

  <script type="text/javascript">
      var CPseudo = false;
      var CRoomName = false;
      var JPseudo = false;
      var JRoomName = false;
      var socket = io.connect('http://galasky.fr');
      socket.emit("testCRoomName", {room: document.getElementById("CRoomName").value});
      socket.emit("testCPseudo", {pseudo: document.getElementById("CPseudo").value});
      socket.emit("testJRoomName", {room: document.getElementById("JRoomName").value});
      socket.emit("testJPseudo", {pseudo: document.getElementById("JPseudo").value});
    $('#BtnCreate').click(function(){
    $("#MdlCreate").modal('show');
    });

    $('#BtnJoin').click(function(){
    $("#MdlJoin").modal('show');
    });

    document.getElementById("CRoomName").onkeyup = function() {
        socket.emit("testCRoomName", {room: document.getElementById("CRoomName").value});
    };
    document.getElementById("CPseudo").onkeyup = function() {
        socket.emit("testCPseudo", {pseudo: document.getElementById("CPseudo").value});
    };

    document.getElementById("JRoomName").onkeyup = function() {
        socket.emit("testJRoomName", {room: document.getElementById("JRoomName").value});
    };
    document.getElementById("JPseudo").onkeyup = function() {
        socket.emit("testJPseudo", {pseudo: document.getElementById("JPseudo").value});
    };

    $('#Create').click(function(){
        var room = document.getElementById("CRoomName").value;
        var pseudo = document.getElementById("CPseudo").value;
        socket.emit("create", {room: room, pseudo: pseudo});
        $("#MdlCreate").modal('hide');
        $("#WaitingModal").modal('show');
    });

    $('#Join').click(function(){
        var room = document.getElementById("JRoomName").value;
        var pseudo = document.getElementById("JPseudo").value;
        socket.emit("join", {room: room, pseudo: pseudo});
        $("#MdlJoin").modal('hide');
        $("#WaitingModal").modal('show');
    });


      socket.on("rspTestCRoomName", function(data) {
        CRoomName = data.rsp;
        if (CRoomName) {
            document.getElementById("FCRoomName").setAttribute("class", "form-group has-success");
            if (CRoomName && CPseudo) {
                document.getElementById("Create").setAttribute("class", "btn btn-primary");
            }
        } else {
            document.getElementById("FCRoomName").setAttribute("class", "form-group has-error");
            document.getElementById("Create").setAttribute("class", "btn btn-primary disabled");
        }
      });

      socket.on("rspTestCPseudo", function(data) {
          CPseudo = data.rsp;
          if (CPseudo) {
              document.getElementById("FCPseudo").setAttribute("class", "form-group has-success");
              if (CRoomName && CPseudo) {
                  document.getElementById("Create").setAttribute("class", "btn btn-primary");
              }
          } else {
              document.getElementById("FCPseudo").setAttribute("class", "form-group has-error");
              document.getElementById("Create").setAttribute("class", "btn btn-primary disabled");
          }
      });

      socket.on("rspTestJRoomName", function(data) {
          JRoomName = data.rsp;
          if (JRoomName) {
              document.getElementById("FJRoomName").setAttribute("class", "form-group has-success");
              if (JRoomName && JPseudo) {
                  document.getElementById("Join").setAttribute("class", "btn btn-primary");
              }
          } else {
              document.getElementById("FJRoomName").setAttribute("class", "form-group has-error");
              document.getElementById("Join").setAttribute("class", "btn btn-primary disabled");
          }
      });

      socket.on("rspTestJPseudo", function(data) {
          JPseudo = data.rsp;
          if (JPseudo) {
              document.getElementById("FJPseudo").setAttribute("class", "form-group has-success");
              if (JRoomName && JPseudo) {
                  document.getElementById("Join").setAttribute("class", "btn btn-primary");
              }
          } else {
              document.getElementById("FJPseudo").setAttribute("class", "form-group has-error");
              document.getElementById("Join").setAttribute("class", "btn btn-primary disabled");
          }
      });
  </script>

</html>
