doctype html
html(lang="en")
    head
        title= name
        script(src='/socket.io/socket.io.js')
        script(type='text/javascript').
            var socket = io.connect('http://galasky.fr');
            socket.on('news', function (data) {
                console.log(data);
                socket.emit('my other event', { my: "join" });
                });
    body
        h1= room
        p.
          Jade is a terse and simple
          templating language with a
          strong focus on performance
          and powerful features.