<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Komecixtine</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="global">
      <button type="button" class="btn btn-primary btn-lg btn-block">Create room</button>
      <button type="button" class="btn btn-success btn-lg btn-block">Join room</button>
  </body>

  <!-- Small modal -->
  <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>
  
  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
	...
      </div>
    </div>
  </div>
</html>
