<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Komecixtine</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div id="global">
      <div class="btn-group dropup">
	<button type="button" class="btn btn-default">Dropup</button>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	  <span class="caret"></span>
	  <span class="sr-only">Toggle Dropdown</span>
	</button>
	<ul class="dropdown-menu" role="menu">
	  <!-- Dropdown menu links -->
	</ul>
      </div>
      <button type="button" class="btn btn-primary btn-lg btn-block">Create room</button>
    </div>
  </body>
</html>
